    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    h2,
    h1 {
        text-align: center;
    }
    
    p {
        width: 15em;
        display: inline-block;
        font-size: 1.025em;
    }
    
    #grid-floats {
        background-color: grey;
        position: relative;
        margin: 0;
        padding: 2%;
        height: auto;
        overflow: hidden;
    }
    
    #grid-floats>li {
        background-color: darkslategrey;
        float: left;
    }
    
    #grid-floats .grid-item {
        display: inline-block;
        overflow: hidden;
        padding: 1em;
        margin: 0.25em;
        align-items: center;
    }
    
    .grid-item img {
        width: 15em;
        height: auto;
        display: block;
        clear: both;
        box-sizing: border-box;
    }
    
    @media (min-width: 320px) and (max-width: 480px) {
        .grid-item img {
            width: 8em;
        }
        #grid-floats .grid-item:nth-child(1) {
            width: 100%;
            margin: 0;
        }
        #grid-floats .grid-item:nth-child(1) img {
            width: 50%;
            display: block;
            float: left;
            padding: 2%;
        }
        #grid-floats .grid-item:nth-child(1) p {
            display: inline;
        }
        #grid-floats .grid-item:nth-child(n+2) {
            width: 46%;
            height: 23em;
            margin: 1%;
            padding: 1%
        }
    }
    
    @media (min-width: 768px) and (max-width: 1024px) {
        #grid-floats .grid-item:nth-child(-n+2) {
            width: 48.5%;
            float: left;
            padding: 4%;
        }
        #grid-floats .grid-item:nth-of-type(n) {
            height: 28em;
            box-sizing: border-box;
        }
        #grid-floats .grid-item:nth-of-type(n+3) {
            width: 32%;
        }
        .grid-item img {
            margin-bottom: 1%
        }
    }
    
    @media (min-width: 1025px) and (max-width: 1280px) {
        #grid-floats .grid-item:nth-child(1) {
            width: 35em;
            float: left;
            margin-left: 0.25em;
        }
        #grid-floats .grid-item:nth-child(1) img {
            display: block;
            width: 95%;
            height: 65%;
            align-items: center;
            margin-bottom: 2em;
        }
        #grid-floats .grid-item:nth-child(1) p {
            font-family: Courier;
            display: inline;
        }
        #grid-floats .grid-item:nth-of-type(n) {
            height: 27em;
        }
    }
    /*grid-flex*/
    
    #grid-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-grow: 2 1 1;
    }
    
    #grid-flex {
        background-color: goldenrod;
        position: relative;
        margin: auto;
        padding: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    #grid-flex>li {
        background-color: darkcyan;
    }
    
    #grid-flex .grid-item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%%;
    }
    
    #grid-flex .grid-item h3,
    p {
        text-align: center;
        display: block;
    }
    
    #grid-flex .grid-item {
        display: inline-block;
        overflow: hidden;
        margin: 0.25em;
        width: 23%;
    }
    
    #grid-flex .grid-item:first-child {
        width: 50%;
        display: inline;
    }