body {
    font-family: Consolas, monaco, monospace;
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: auto;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.my-name {
    color: white;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.my-class {
    color: white;
    display: inline-block;
    background-color: black;
    padding: 0.5em;
    margin-left: 0.6em;
    top: 3em;
}

input {
    border-style: solid white;
    font-size: 1em;
    padding: 0.7em 1em 0.7em 1em;
    background-color: black;
    color: aliceblue;
    margin: 0.5em;
    position: absolute;
}

.content {
    line-height: 1.4em;
    background-color: rgb(34, 34, 34);
    color: aliceblue;
    box-sizing: content-box;
}

.content img {
    width: 200px;
    height: 250px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

.content .function_name {
    color: #A0E03A;
}

.content .function_define {
    color: lightskyblue;
}

.content .commentary_color {
    color: #888888;
}

.content .color_red {
    color: deeppink;
}

.content .string {
    color: hsla(50, 100%, 50%, 1)
}

.content .true {
    color: #7F00FF;
}

a {
    color: lightskyblue;
}

.content .details {
    background: white;
    color: black;
    display: inline-block;
    margin: 0.3em;
    /* font-weight: 900;*/
    font-size: 18px;
}

#text {
    color: white;
    padding: 3em;
    font-size: 1.5em;
}

.three-items {
    text-align: center;
}

.item {
    display: inline-block;
    width: 30%;
    margin: 1%;
    height: 50px;
    background: #cccccc;
    min-width: 150px;
}

@media only screen and (max-width: 961px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100vw;
        position: relative;
    }
    .content img {
        width: 50vw;
        height: auto;
    }
    .image_container {
        text-align: center;
    }
    .logo {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
        padding: 1em;
    }
    .content {
        grid-row-start: 2;
        grid-row-end: 3;
        width: 90vw;
        grid-column-start: 1;
        grid-column-end: 1;
        padding: 2.5vw;
        margin: 2.5vw;
    }
    .jvs {
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
        padding: 1em;
        padding-top: 0;
    }
}

@media only screen and (min-width: 962px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .container {
        grid-template-columns: 1fr 1fr 3fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .content img {
        float: right;
    }
    .myname {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .content {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 5;
        padding: 1em;
        margin: 1em;
    }
    .jvs {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        position: absolute;
        top: 0em;
    }
}